<div class="contents">

  <div class="ui grid">
    <div id="mark-box" class="three wide center aligned column">
      <div class="ui centered inverted {{color}} card">
        <div class="content {{color}}">
          <h1 class="ui header noselect">
            {{mark}}
          </h1>
        </div>
        <div class="extra noselect">
          <b>{{tags.unsafe}}</b>&nbsp;<i>unsafe</i>&nbsp;/ <b>{{tags.count}}</b>&nbsp;<i>tags</i>
        </div>
      </div>
    </div>

    <div class="thirteen wide column">
      <table class="ui large very basic fixed single line table">
        <tbody>
          <tr>
            <td class="three wide">
              <h5 class="ui header">Site</h5>
            </td>
            <td class="thirteen wide"><a href="{{url}}" target="_blank" ref="nofollow">{{truncateSummary url}}</a></td>
          </tr>
          <tr>
            <td class="three wide">
              <h5 class="ui header">Scan Date</h5>
            </td>
            <td class="thirteen wide">{{formatDate submitted}}</td>
          </tr>
          <tr>
            <td class="three wide">
              <h5 class="ui header">Status Code</h5>
            </td>
            <td class="thirteen wide">HTTP {{statusCode}}</td>
          </tr>
          <tr>
            <td class="three wide">
              <h5 class="ui header">Scripts</h5>
            </td>
            <td class="thirteen wide">
              <i>Found <b>{{scripts.unsafe}}</b> unsafe scripts out of <b>{{scripts.count}}</b> script tags</i>
            </td>
          </tr>
          <tr>
            <td class="three wide">
              <h5 class="ui header">Stylesheets</h5>
            </td>
            <td class="thirteen wide">
              <i>Found <b>{{stylesheets.unsafe}}</b> unsafe stylesheets out of <b>{{stylesheets.count}}</b> stylesheet tags</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
