<div id="stats-box" class="ui stackable equal width centered grid">

  <div class="computer tablet only column">
    <div class="ui left aligned segment">
      <div class="ui top attached label">Recently Seen</div>
        <table class="ui very basic small selectable celled stackable compact fixed single lined table">
          <thead>
            <tr>
              <th class="twelve wide">URL</th>
              <th class="four wide center aligned">Score</th>
            </tr>
          </thead>
          <tbody>
            {{#each recent}}
            <tr>
              <td title="{{url}}"><a href="/#report/{{id}}" ref="nofollow">{{url}}</a></td>
              <td class="stats {{color}} collapsing center aligned">{{stats.unsafe}} / {{stats.count}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
    </div>
  </div>

  <div class="computer tablet only column">
    <div class="ui left aligned segment">
      <div class="ui top attached label">Recent Best</div>
        <table class="ui very basic small selectable celled stackable compact fixed single lined table">
          <thead>
            <tr>
              <th class="thirteen wide">URL</th>
              <th class="three wide center aligned">Mark</th>
            </tr>
          </thead>
          <tbody>
            {{#each best}}
            <tr>
              <td title="{{url}}"><a href="/#report/{{id}}" ref="nofollow">{{url}}</a></td>
              <td class="stats {{color}} center aligned">{{mark}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
    </div>
  </div>

  <div class="computer only column">
    <div class="ui left aligned segment">
      <div class="ui top attached label">Recent Worst</div>
        <table class="ui very basic small selectable celled stackable compact fixed single lined table">
          <thead>
            <tr>
              <th class="thirteen wide">URL</th>
              <th class="three wide center aligned">Mark</th>
            </tr>
          </thead>
          <tbody>
            {{#each worst}}
            <tr>
              <td title="{{url}}"><a href="/#report/{{id}}" ref="nofollow">{{url}}</a></td>
              <td class="stats {{color}} center aligned">{{mark}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
    </div>
  </div>

</div>
